# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Chroma Database
backend/chroma_db/

# Cloned Repositories
backend/repositories/

# Python Cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

#frontend
frontend/node_modules/
frontend/.next/
frontend/build/
frontend/.env.local
frontend/dist/
*.pyc